.card__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2rem 0;
    gap: 20px;
}

.card__wrapper .card {
  width: 23%;
}

@media(max-width:1200px){
    .card__wrapper .card{
        width: 30%;
    }
}


@media(max-width:780px){
    .card__wrapper .card{
        width: 48%;
    }
}


@media(max-width:535px){
    .card__wrapper .card{
        width: 100%;
    }
}
